main-tiles {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin: 30px auto;

  .row {
    display: flex;
    justify-content: center;
    gap: 5px;

    .tile {
      display: flex;
      width: 55px;
      height: 55px;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      text-transform: uppercase;
      font-size: 36px;
      font-family: "Kanit", sans-serif;
      color: #ffffff;
    }

    [data-state="absent"] {
      background-color: #3a3a3c;
    }

    [data-state="present"] {
      background-color: #b59f3b;
    }

    [data-state="correct"] {
      background-color: #538d4e;
    }
  }
}
