main-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000e6;
  z-index: -1;
  opacity: 0;

  .background {
    position: relative;
    width: 100%;
    height: 100%;

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 500px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      gap: 40px;

      color: #ffffff;
      font-family: "Kanit", sans-serif;
      font-size: 20px;

      .btnContainer {
        display: flex;
        justify-content: center;
        gap: 20px;

        button {
          cursor: pointer;
          color: #ffffff;
          border: 0;
          width: 120px;
          height: 40px;
          border-radius: 4px;
        }

        .share {
          background-color: #ff3399;
        }

        .try-again {
          background-color: #43c7f4;
        }
      }
    }
  }
}
